.optimizer-floater {
  position: fixed;
  width: 33%;
  .instructions {
    height: 10vh;
    background-color: red;
  }

  .tool {
    height: 50vh;
    background-color: blue;
  }

  .output {
    height: 25vh;
    background-color: green;
  }
}
